{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="confirm-container">
    <div class="confirm-box">
        <div class="confirm">
            <h1>Your subscription has been successfully verified.</h1>
            <p>Thanks very much for signing up to our newsletter. You will now receive occasional newsletters from us to the email address you specified.</p>
            <p><a href="/">Return to Homepage</a></p>
        </div>
    </div>
</div>
{% endblock %}
