{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Welcome to Mellifera, your go-to online store for premium beekeeping equipment. Discover a wide range of products to suit every beekeeping need, from beginners to experts." />
    <meta name="keywords" content="beekeeping equipment, Mellifera, online store, bee hives, beekeeping tools, honey extraction, sustainable beekeeping" />
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                Everything your bees need, direct to your bee yard!
            </h1>
        </div>
    </div>
</div>
{% endblock %}