<div class="collapse bg-honey navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold bg-honey nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browse products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=materials&direction=desc" class="dropdown-item">By material</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By special feature</a>
                <a href="{% url 'products' %}" class="dropdown-item">All products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold bg-honey nav-link text-black mr-5" href="#" id="hive-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hive components 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hive-link">
                <a href="{% url 'products' %}?category=boxes" class="dropdown-item">Boxes</a>
                <a href="{% url 'products' %}?category=frames" class="dropdown-item">Frames</a>
                <a href="{% url 'products' %}?category=lids,floors" class="dropdown-item">Lids & floors</a>
                <a href="{% url 'products' %}?category=feeders" class="dropdown-item">Feeders</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold bg-honey nav-link text-black mr-5" href="#" id="tools-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tools & Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tools-link">
                <a href="{% url 'products' %}?category=hand-tools" class="dropdown-item">Hand tools</a>
                <a href="{% url 'products' %}?category=machines" class="dropdown-item">Machines</a>
                <a href="{% url 'products' %}?category=clothing" class="dropdown-item">Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold bg-honey nav-link text-black mr-5" href="#" id="supplies-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Supplies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="supplies-link">
                <a href="{% url 'products' %}?category=packaging" class="dropdown-item">Packaging</a>
                <a href="{% url 'products' %}?category=food,treatments" class="dropdown-item">Food & treatments</a>
                <a href="{% url 'products' %}?category=miscellaneous" class="dropdown-item">Miscellaneous</a>
            </div>
        </li>
    </ul>
</div>