{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="confirm-container">
    <div class="confirm-box">
        <div class="confirm">
            <h1>Pre-order successfully created!</h1>
            <p>Your pre-order of {{product}} has been successfully created. You have pre-ordered {{quantity}} of this product.</p>
            <p>Please go to the <a href="{% url 'pre_order_detail' product.id %}">pre-order detail page</a> if you would like to adjust this number.</p>
            <p><a href="/">Return to Homepage</a></p>
        </div>
    </div>
</div>
{% endblock %}
