{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Welcome to Mellifera, your go-to online store for premium beekeeping equipment. Discover a wide range of products to suit every beekeeping need, from beginners to experts." />
    <meta name="keywords" content="beekeeping equipment, Mellifera, online store, bee hives, beekeeping tools, honey extraction, sustainable beekeeping" />
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}>

{% block content %}
<div class="fourohfour">
    <h1>404 - Page doesn't exist</h1>
    <p>Oh dear, the page you seem to be looking for (or maybe you just made a typo) doesn't exist on this site!</p>
    <p><a href="/">Return to Homepage</a></p>
</div>
{% endblock %}
