{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Sign up to our hugely informative mellifera newsletter." />
    <meta name="keywords" content="beekeeping, news, beehives, technology, treatments, varroa, pests, events" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<main class="nowrap">
    <form id="subscribe-form" action="https://formdump.codeinstitute.net" method="post">
        <div class="container my-5 shaded">
            <h2 class="text-center mb-4"><i class="fa-solid fa-inbox"></i> Subscribe to our newsletter!</h2>
            <p class="text-center mb-4">Stay updated with our latest offers and beekeeping news.</p>
            <form id="subscribe-form" action="https://formdump.codeinstitute.net" method="post" class="border p-4 rounded shadow-sm">
                <div class="form-group">
                    <label for="first-name">* First name</label>
                    <input type="text" id="first-name" class="form-control" name="first-name" placeholder="Enter your first name" required>
                </div>
                
                <div class="form-group">
                    <label for="last-name">* Surname</label>
                    <input type="text" id="last-name" class="form-control" name="last-name" placeholder="Enter your surname" required>
                </div>
        
                <div class="form-group">
                    <label for="email-address">* Email address</label>
                    <input type="email" id="email-address" name="email-address" class="form-control" placeholder="Enter your email address" required>
                </div>
        
                <div class="form-group form-check">
                    <input type="radio" id="email" value="email" class="form-check-input" name="subscription-type" checked required>
                    <label for="email" class="form-check-label">Email only</label>
                </div>
                
                <div class="form-group form-check">
                    <input type="radio" id="both" value="both" class="form-check-input" name="subscription-type">
                    <label for="both" class="form-check-label">Email and hard copy</label>
                </div>
        
                <div id="address-inputs" class="form-group">
                    <label for="postal-address1">* Postal Address Line 1</label>
                    <input type="text" id="postal-address1" name="postal-address1" class="form-control" placeholder="Enter address line 1">
                </div>
        
                <div class="form-group">
                    <label for="postal-address2">Postal Address Line 2</label>
                    <input type="text" id="postal-address2" name="postal-address2" class="form-control" placeholder="Enter address line 2">
                </div>
        
                <div class="form-group">
                    <label for="city-county">* City/County</label>
                    <input type="text" id="city-county" name="city-county" class="form-control" placeholder="Enter your city or county">
                </div>
        
                <div class="form-group">
                    <label for="postcode">* Postcode</label>
                    <input type="text" id="postcode" name="postcode" class="form-control" placeholder="Enter your postcode">
                </div>
        
                <div class="form-group">
                    <label for="country">* Country</label>
                    <input type="text" id="country" name="country" class="form-control" placeholder="Enter your country">
                </div>
        
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Subscribe</button>
                </div>
        
                <p class="text-center small text-muted">* An asterisk (*) indicates a required field. If you do not fill in a valid postal address, you will naturally receive nothing in the post!</p>
            </form>
        </div>
        
        <div class="container mt-5">
            <h3>Subscription process</h3>
            <p>Soon after you have pressed the 'Subscribe' button, you will receive an email or letter asking you
                to confirm your email and/or postal address. Once you have done that, you will receive the current
                issue of the Farming Futures newsletter within a few days. You will subsequently receive new issues
                on a regular basis. Our newsletter is currently published monthly.</p>
        
            <h3>How to unsubscribe</h3>
            <p>You can cancel your email subscription at any time by pressing the button provided on your newsletter
                email. To unsubscribe from a postal-only subscription, please call +353 1 000 0000 or send
                an email with your subscription number on the subject line to unsubscribe@farmingfutures.ie.</p>
        </div>
</main>
{% endblock %}